/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* Variáveis */
:root {
  --header-heighr: 4.5rem;
  /*colors*/
  --cor00: #fafafa;
  --cor01: #11527C;
  --cor02: #0B6F6F;
  --cor03: #2A2F42;
  --cor04: #8F8A90;
  --cor05: #757575;
  --gradient: linear-gradient(270deg, rgba(42,47,66,1) 6%, rgba(17,82,124,1) 67%, rgba(11,111,111,1) 94%);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* Assets básicos */
body {
  font: 400 1rem "DM Sans", sans-serif;
  background-color: var(--cor00);
  color: var(--cor05);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 1.87rem "Poppins", sans-serif;
  color: var(--cor01);
  -webkit-font-smoothing: auto;
}

.button {
  font: 500 1rem "DM Sans", sans-serif;
  transition: 0.4s;
  background-color: var(--cor01);
  color: #fafafa;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 8px;
}

.button:hover {
  background-color: var(--cor02);
}

.divider1 {
  height: 1px;
  background: var(--gradient);
}

/* Layout */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

#header {
  border-bottom: 1px solid var(--cor03);
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--cor00);
}

main {
  margin-top: calc(var(--header-heighr) + 2rem);
}

/*======= LOGO =======*/
a.logo {
  font: 700 1.2rem "Poppins", sans-serif;
  color: var(--cor01);
  font-weight: bold;
}

.logo span {
  color: var(--cor04);
}

/*======= NAV =======*/
nav {
  height:var(--header-heighr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li a {
  transition: color 0.4s;
  position: relative;
}

nav ul li {
  text-align: center;
}

nav ul li a:hover {
  color: var(--cor02);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--cor02);
  position: absolute;
  left: 0;
  bottom: -1rem;
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
}

/* show menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--cor00);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
}

nav.show .menu {
  display: grid;
  place-content: center;
}



nav.show ul.grid {
  gap: 4rem;
}

/* Home */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--cor01);
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -16.8%;
  left: 16.8%;
  z-index: 0;
  border-radius: 8px;
}

#home .image img {
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  right: 2.93rem;
  border-radius: 8px;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

